body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
}
.top-menu-items {
    float: right;
}

ul.top-menu-items li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    font-size:14px;
}

ul.top-menu-items li > a, ul.top-menu-items li > a:visited {
    text-decoration: none;
    color: #000;
}

ul.top-menu-items li > a.btn-sign-in {
    background-color: #4285f4;
    color: white;
    padding: 10px 20px;
}

ul.top-menu-items li > a.btn-sign-in:hover {
    text-decoration: none;
    color: white;
}

ul.top-menu-items li > a:hover {
    text-decoration: underline;
    color: #000;
}

header {
    height: 50px;
    width: 100%;
}

section {
    padding: 140px 0;
}

.google-center {
    
}

input[type="submit"] {
    margin-right: 3%;
    border: aliceblue;
    font-family: arial;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 2px;
}

@media screen and (max-width:500px) {

    
}